

/*===========================
    01.COMMON css 
===========================*/


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
html {
    scroll-behavior: smooth;
}
body {
	font-family: $font-1;
	font-weight: normal;
	font-style: normal;
    color: $body-color;
}

*{
    margin: 0;
    padding: 0;
    @include box-sizing (border-box);
}

img {
	max-width: 100%;
}

a:focus,
input:focus,
textarea:focus,
button:focus {
	text-decoration: none;
	outline: none;
}

a:focus,
a:hover{
	text-decoration: none;
}

i,
span,
a{
    display: inline-block;
    text-decoration: none;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}


h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font-1;
	font-weight: 700;
	color: $heading-color;
	margin: 0px;
}

h1 {
	font-size: 48px;
}
h2 {
    font-size: 45px;
    
    @media #{$xs} {
        font-size: 36px;
    }
    @media #{$sm} {
        font-size: 40px;
    }
}
h3 {
	font-size: 28px;
}
h4 {
	font-size: 22px;
}
h5 {
	font-size: 18px;
}
h6 {
	font-size: 16px;
}

ul,ol {
	margin: 0px;
	padding: 0px;
    list-style-type: none;
}

p {
	font-size: 18px;
	font-weight: 400;
	line-height: 28px;
	color: $body-color;
	margin: 0px;
}

.bg_cover{
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.gradient-1 {
    background-image: $gradient-1;
    color: $white;
}
.gradient-2 {
    background-image: $gradient-2;
    color: $white;
}
.gradient-3 {
    background-image: $gradient-3;
    color: $white;
}
.gradient-4 {
    background-image: $gradient-4;
    color: $white;
}


input,
textarea {
    width: 100%;
    border-radius: 10px;
    background: $white;
    font-size: 16px;
    padding: 17px 30px;
    margin-bottom: 20px;
    color: $black-soft;
    @include box-shadow(0px 0px 51px rgba(180, 180, 180, 0.16));
    @include transition(.3s);
    border: 1px solid transparent;

    &::placeholder {
        opacity: 1;
    }

    &:focus {
        border-color: $theme-color;
    }
}


.back-to-top {
    width: 45px;
    height: 45px;
    background: $theme-color;
    text-align: center;
    line-height: 45px;
    font-size: 20px;
    color: $white;
    border-radius: 5px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 999;
    cursor: pointer;
    @include transition(.3s);

    &.btn-hover {
        position: fixed;
        z-index: 999;
    }
    &:hover {
        color: $white;
    }
}

*:focus {
    outline: none;
}
// others common css here



/*===== All Button Style =====*/

.main-btn {
	display: inline-block;
	font-weight: 600;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	@include user-select(none);
	border: 0;
	padding: 20px 35px;
	font-size: 18px;
	border-radius: 10px;
    color: $white;
    cursor: pointer;
    z-index: 5;
    @include transition(0.4s);
    background-image: linear-gradient(to bottom, #dc4985, #e25c8b, #e86d92, #ed7d9a, #f18da2);
    
    
    &:hover{
        // opacity: .8;
        color: $white;
    }
}

.btn-hover {
    position: relative;
    z-index: 1;

    &::after {
        content: '';
        position: absolute;
        width: 0%;
        height: 100%;
        border-radius: inherit;
        background: rgba($white, .1);
        top: 0;
        left: 0;
        z-index: -1;
        @include transition(.3s);
    }

    &:hover {
        &::after {
            width: 100%;
        }
    }
}

/*===== All Section Title Style =====*/

.section_title{
    & .title{
        font-size: 40px;
        font-weight: 700;
        
        @media #{$xs}{
            font-size: 26px;
        }
    }
    & p{
        margin-top: 15px;
        font-size: 18px;
        opacity: 0.5;
    }
    
    &.section_title_2{
        & .title,
        & p{
            color: $white;
        }
    }
}



/*===== All Preloader Style =====*/

.preloader{
    /* Body Overlay */
    position: fixed;
    top: 0;
    left: 0;
    display:  table;
    height: 100%;
    width:  100%;
    /* Change Background Color */
    background: $white;
    z-index: 99999;
    
    & .loader{
        display: table-cell;
        vertical-align:  middle;
        text-align: center;
        
        & .ytp-spinner {
            position: absolute;
            left: 50%;
            top: 50%;
            width: 64px;
            margin-left: -32px;
            z-index: 18;
            pointer-events: none;
            
            & .ytp-spinner-container {
                pointer-events: none;
                position: absolute;
                width: 100%;
                padding-bottom: 100%;
                top: 50%;
                left: 50%;
                margin-top: -50%;
                margin-left: -50%;
                @include animation(ytp-spinner-linspin 1568.23529647ms linear infinite);
                
                & .ytp-spinner-rotator {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    @include animation(ytp-spinner-easespin 5332ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both);
                    
                    & .ytp-spinner-left {
                        position: absolute;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        overflow: hidden;
                        right: 50%;
                    }
                    
                    & .ytp-spinner-right {
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        overflow: hidden;
                        left: 50%;
                    }
                }
            }
        }
        
        & .ytp-spinner-circle {
            box-sizing: border-box;
            position: absolute;
            width: 200%;
            height: 100%;
            border-style: solid;
            /* Spinner Color */
            border-color: $theme-color $theme-color $gray;
            border-radius: 50%;
            border-width: 6px;
        }
        
        & .ytp-spinner-left {
            & .ytp-spinner-circle {
                left: 0;
                right: -100%;
                border-right-color: $gray;
                @include animation( ytp-spinner-left-spin 1333ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both);
            }
        }
        
        & .ytp-spinner-right {
            & .ytp-spinner-circle {
                left: -100%;
                right: 0;
                border-left-color: $gray;
                @include animation(ytp-right-spin 1333ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both);
            }
        }
    }
}

/* Preloader Animations */

@-webkit-keyframes ytp-spinner-linspin {
    to {
        @include transform(rotate(360deg));
    }
}

@keyframes ytp-spinner-linspin {
    to {
        @include transform(rotate(360deg));
    }
}

@-webkit-keyframes ytp-spinner-easespin {
    12.5% {
        @include transform(rotate(135deg));
    }
    25% {
        @include transform(rotate(270deg));
    }
    37.5% {
        @include transform(rotate(405deg));
    }
    50% {
        @include transform(rotate(540deg));
    }
    62.5% {
        @include transform(rotate(675deg));
    }
    75% {
        @include transform(rotate(810deg));
    }
    87.5% {
        @include transform(rotate(945deg));
    }
    to {
        @include transform(rotate(1080deg));
    }
}

@keyframes ytp-spinner-easespin {
    12.5% {
        @include transform(rotate(135deg));
    }
    25% {
        @include transform(rotate(270deg));
    }
    37.5% {
        @include transform(rotate(405deg));
    }
    50% {
        @include transform(rotate(540deg));
    }
    62.5% {
        @include transform(rotate(675deg));
    }
    75% {
        @include transform(rotate(810deg));
    }
    87.5% {
        @include transform(rotate(945deg));
    }
    to {
        @include transform(rotate(1080deg));
    }
}

@-webkit-keyframes ytp-spinner-left-spin {
    0% {
        @include transform(rotate(130deg));
    }
    50% {
        @include transform(rotate(-5deg));
    }
    to {
        @include transform(rotate(130deg));
    }
}

@keyframes ytp-spinner-left-spin {
    0% {
        @include transform(rotate(130deg));
    }
    50% {
        @include transform(rotate(-5deg));
    }
    to {
        @include transform(rotate(130deg));
    }
}

@-webkit-keyframes ytp-right-spin {
    0% {
        @include transform(rotate(-130deg));
    }
    50% {
        @include transform(rotate(5deg));
    }
    to {
        @include transform(rotate(-130deg));
    }
}

@keyframes ytp-right-spin {
    0% {
        @include transform(rotate(-130deg));
    }
    50% {
        @include transform(rotate(5deg));
    }
    to {
        @include transform(rotate(-130deg));
    }
}



// ============ Margin and Padding ===============

// Margin-top
@for $i from 1 through 45 {
    .mt-#{5 * $i} {
        margin-top: 5px * $i;
    }
}

// Margin-bottom
@for $i from 1 through 45 {
    .mb-#{5 * $i} {
        margin-bottom: 5px * $i;
    }
}

// Padding-top
@for $i from 1 through 45 {
    .pt-#{5 * $i} {
        padding-top: 5px * $i;
    }
}

// Padding-bottom
@for $i from 1 through 45 {
    .pb-#{5 * $i} {
        padding-bottom: 5px * $i;
    }
}


